.parent_container {
    position: fixed;
    width: max-content;
    height: max-content;
    width: 12vw;
    height: 12vw;
    bottom: 0;
    left: 0;
}

.overlay_container {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 2vw;
    margin-bottom: 2vw;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #3cf4a8;
    z-index: 1000;
    transform-origin: center;
    transform: rotate(-60deg);
    transition: transform 2s ease-in-out 0.5s;
}

.click_instructions {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    align-items: center;
    text-align: center;
    text-wrap: nowrap;
    font-size: 1vw;
}

.mouse_container {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 2vw;
    margin-bottom: 2vw;
    width: 8vw;
    height: 8vw;
    background-image: url("/icons/mouse_green_2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.inner_circle_container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2vw;
    height: 2vw;
    transform: translate(-50%, -50%);
    /* transform-origin: center; */
    /* transform: rotate(60deg) translate(200%, 50%); */
}

.inner_circle {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 2vw;
    height: 2vw;
    background-color: #3cf4a8;
    /*rgba(73, 158, 255, 1)*/
    border-radius: 50%;
    transform-origin: center;
    /* transform: rotate(60deg) translate(200%, 50%); */
    cursor: pointer;
}

.selected {
    background-color: rgba(73, 158, 255, 1) !important;
    /* #3cf4a8 */
}

.inner_circle_1 {
    transform: rotate(60deg) translate(200%, 0%);
}

.inner_circle_2 {
    transform: rotate(120deg) translate(200%, 0%);
}

.inner_circle_3 {
    transform: rotate(180deg) translate(200%, 0%);
}

.inner_circle_4 {
    transform: rotate(240deg) translate(200%, 0%);
}

.inner_circle_5 {
    transform: rotate(300deg) translate(200%, 0%);
}

.inner_circle_6 {
    transform: rotate(360deg) translate(200%, 0%);
}

.description_container {
    position: fixed;
    bottom: 2vw;
    left: 12vw;
    width: 30vw;
    height: auto;
    background-color: #3cf4a782;
    border-radius: 25px;
    color: white;
    padding: 1vw;
    border-radius: 0.5vw;
    z-index: 1000;
}