/* Main button container */
.button {
    position: absolute;
    top: -17vw;
    left: -17vw;
    width: 35vw;
    height: 35vw;
    cursor: pointer;
}

.m_logo {
    position: absolute;
    z-index: 10;
    top: 60%;
    left: 60%;
    width: 17%;
    height: 17%;
    transform: translate(-50%, -50%) scale(1);
    background-image: url("/icons/MetavianLogo_White.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    border-radius: 50%;
    border-style: solid;
    border-color: transparent;
    transform-origin: center;
    transition: all 0.1s ease-in-out;
}

.m_logo:hover {
    transform: translate(-50%, -50%) scale(0.90);
}

.m_logo:hover .arc {
    opacity: 0 !important;
    transform: translate(-50%, -50%) scale(0.5);
}

.button:hover .arc_container {
    display: block;
}

.arc_container {
    display: none;
}

/* Base style for arcs */
.arc {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border-style: solid;
    border-color: transparent;
    /* opacity: 0; */
    transform-origin: center;
    transform: translate(-50%, -50%) scale(0.9);
    transition: all 0.1s ease-in-out;
}

.text_container {
    position: relative;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 12%;
    display: flex;
    justify-content: right;
    transform-origin: left top;
}

.arc_layer_1 .text_container {
    transform: rotate(11.25deg) translate(0, -50%);
}

.arc_layer_2 .text_container {
    transform: rotate(33.75deg) translate(0, -50%);
}

.arc_layer_3 .text_container {
    transform: rotate(56.25deg) translate(0, -50%);
}

.arc_layer_4 .text_container {
    transform: rotate(78.75deg) translate(0, -50%);
}

.text_container h1 {
    color: white;
    font-size: 1vw;
    white-space: nowrap;
    position: relative;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
    height: max-content;
}

/* .arc h1 {
    color: white;
    position: absolute;
    top: 60%;
    left: 120%;
    transform: translate(-50%, -50%) rotate(11.25deg);
    font-size: 5vw;
} */

.arc_layer_1 {
    clip-path: polygon(50% 50%, 100% 50%, 100% 70%);
    /* 70.75% */
}

.arc_layer_2 {
    clip-path: polygon(50% 50%, 100% 71.5%, 100% 98.75%);
}

.arc_layer_3 {
    clip-path: polygon(50% 50%, 98.75% 100%, 71.5% 100%);
}

.arc_layer_4 {
    clip-path: polygon(50% 50%, 70% 100%, 50% 100%);
}

/* Outermost arc */
.arc3 {
    width: 100%;
    height: 100%;
    border-width: 1vw;
    /* border-right-color: #333;
    border-bottom-color: #333; */
    border-right-color: #3cf4a8;
    border-bottom-color: #3cf4a8;
    background: radial-gradient(circle, rgba(107, 201, 184, 0) 40%, rgb(46, 255, 217) 100%);
    /* background: radial-gradient(circle, rgba(174, 229, 238, 0) 40%, rgba(148, 187, 233, 1) 100%); */
    /* darkest */
}

.arc3:hover {
    width: 106%;
    height: 106%;
    border-right-color: rgb(193, 222, 255);
    border-bottom-color: rgb(193, 222, 255);
    background: radial-gradient(circle, rgba(174, 229, 238, 0) 40%, rgb(73, 158, 255) 100%);
    /* background: radial-gradient(circle, rgba(107, 201, 184, 0) 40%, rgb(46, 255, 217) 100%); */
}

/* Middle arc */
.arc2 {
    width: 60%;
    /* reduced diameter */
    height: 60%;
    border-width: 4vw;
    border-right-color: #999;
    border-bottom-color: #999;
    display: none;
    /* mid-gray */
    /* top: 30px; */
    /* centers it inside arc3 */
    /* left: 30px; */
}

/* Innermost arc */
.arc1 {
    width: 50%;
    height: 50%;
    border-width: 2vw;
    border-right-color: #e0e0e0;
    border-bottom-color: #e0e0e0;
    /* lightest */
    /* top: 60px; */
    /* left: 60px; */
}

/* Optional hover animation */
.arc1:hover {
    border-right-color: #6bc9b8;
    border-bottom-color: #6bc9b8;
}

.arc2:hover {
    border-right-color: #6bc9b8;
    border-bottom-color: #6bc9b8;
}

.active {
    background: radial-gradient(circle, rgba(174, 229, 238, 0) 40%, rgb(73, 158, 255) 100%);
}

/* .arc3:hover {
    border-right-color: #6bc9b8;
    border-bottom-color: #6bc9b8;
} */