.get_started_container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}

.right_container {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  overflow-y: scroll;
}

.right_containts {
  position: relative;
  width: 50%;
  height: 100%;
  /* margin: auto; */
  display: flex;
  /* Enable Flexbox */
  flex-direction: column;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  font-size: 1vw;
}

.title {
  position: absolute;
  width: 100%;
  bottom: 77.5vh;
  font-size: 2vw;
  text-align: center;
  /* margin-bottom: 5%; */
}

.text {
  position: absolute;
  width: 100%;
  bottom: 72.5vh;
  font-size: 0.8vw;
  text-align: center;
  /* margin-bottom: 5%; */
}

.inputs {
  position: absolute !important;
  /* border-radius: 15px;
  border-width: 3px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #00000069; */
  color: rgb(0, 0, 0);
  border: 0.2em solid #97d4fc;
  border-radius: 10px;
  padding: 1.5% 5px;
  background-color: #d8d8d8;
  font-size: 0.8vw;
  font-weight: bold;
  /* padding-left: 2.5%; */
  /* background: transparent; */
}

.inputs:active {
  /* background-color: #ffffff !important; */
  /* border: 0.3em solid #b260ff !important; */
  /* box-shadow: 2px 2px 15px #8707ff inset; */
}

.input_1 {
  bottom: 62.5vh;
  width: 100%;
  /* height: 5%; */
}

.input_2 {
  bottom: 55vh;
  width: 100%;
  /* height: 5%; */
}

.input_3 {
  bottom: 47.5vh;
  width: 100%;
  /* height: 5%; */
}

.input_4 {
  bottom: 40vh;
  width: 100%;
  /* height: 5%; */
}

.inputs::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: rgb(0, 0, 0);
  font-size: 1vw;
  margin: 0;
  padding-left: 2.5%;
}

.get_started_button {
  position: absolute;
  bottom: 40vh;
  width: 100%;
  height: 5%;
  /* margin-bottom: 5%; */
  border-radius: 15px;
  border-width: 0;
  border-style: solid;
  border-color: #ffffff;
  background-color: #6b176b;
}

.skip_button {
  position: absolute;
  width: 100%;
  bottom: 20vh;
  width: 25%;
  height: 5%;
  /* margin-bottom: 5%; */
  left: 0;
  border-radius: 15px;
  border-width: 3px;
  border-style: solid;
  border-color: #ffffff;
  background-color: #747474;
}

.skip_button p {
  /* font-size: 1vw; */
  /* font-weight: bold; */
  color: white;
  margin: 10%;
  position: relative;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.text-content span {
  position: relative !important;
}

.animate {
  transition: transform 1s;
}

.position_right {
  transform: translateX(50vw);
}

.translate_left {
  transform: translateX(0vw) !important;
}

.translate_right {
  transform: translateX(-100px);
}

/* From Uiverse.io by adamgiebl */
.cssbuttons_io_button {
  background: #97d4fc;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  /* position: relative; */
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
  position: absolute;
  bottom: 35vh;
  width: 100%;
}

.cssbuttons_io_button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons_io_button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons_io_button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons_io_button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons_io_button:active .icon {
  transform: scale(0.95);
}

.setInactive {
  /* background-color: rgb(120, 120, 120); */
  pointer-events: none;
  opacity: 0.6;
}

.grey_out {
  background-color: rgb(120, 120, 120);
  pointer-events: none;
  transform: translateX(0vw);
}

.get_started_button_style {
  width: 40% !important;
  bottom: 30vh;
  left: 0;
}

.register_button_style {
  width: 50% !important;
  bottom: 30vh;
  right: 0
}

.skip_button_style {

  width: 50% !important;
  bottom: 20vh;
}

.welcome_back_text {
  font-size: 1.5vw;
  font-weight: bold;
  color: #ffffff;
  bottom: 70vh;
  text-align: center;
}

@media (aspect-ratio > 9/16) {

  /* .right_containts {
    width: 60%;
    height: 80%;

  } */

  /* .inputs {
    height: 7.5% !important;
  }

  .cssbuttons_io_button {
    bottom: 1%;
  } */
}