@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

#container {
  font-family: "Rubik", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.slidecontainer {
  position: absolute;
  width: 90vw;
  right: 0;
}

.slidecontainer input {
  width: 100%;
}

.rotation_slider,
.scale_slider {
  display: none;
}

.video {
  width: 25%;
  height: 25%;
  position: absolute;
  top: 0;
  left: 0;
}