.beepi_container {
  position: absolute;
  right: 0;
  top: calc(100vh - 15vw);
  width: 15vw;
  height: 15vw;
  display: flex;
}

.beepie_canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.coming_soon_message_container {
  position: relative;
  top: -5vh;
  left: -5.5vw;
  color: black;
}

p.bubble {
  position: relative;
  width: 13vw;
  text-align: center;
  line-height: 1.4em;
  margin: 2vh auto;
  background-color: #fff;
  border: 0.3vw solid #333;
  border-radius: 1.5vw;
  font-family: sans-serif;
  padding: 1vw;
  font-size: 0.6vw;
}

p.thought {
  width: 15vw;
  border-radius: 10vw;
  padding: 1.5vw;
}

p.bubble:before,
p.bubble:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
}

p.speech:before {
  left: 1.5vw;
  bottom: -2.5vw;
  border: 1.25vw solid;
  border-color: #333 transparent transparent #333;
}

p.speech:after {
  left: 1.9vw;
  bottom: -1.5vw;
  border: 0.75vw solid;
  border-color: #fff transparent transparent #fff;
}

p.thought:before,
p.thought:after {
  right: 0.5vw;
  bottom: -1.5vw;
  width: 2vw;
  height: 2vw;
  background-color: #fff;
  border: 0.3vw solid #333;
  border-radius: 1.5vw;
}

p.thought:after {
  width: 1vw;
  height: 1vw;
  right: 0.25vw;
  bottom: -2vw;
  border-radius: 1vw;
}