.beepi_container {
  position: absolute;
  right: 0;
  top: calc(100vh - 20vw);
  width: 20vw;
  height: 20vw;
  display: flex;
}

.beepie_canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
