.slidecontainer {
  position: absolute;
  width: 90vw;
  right: 0;
}

.slidecontainer input {
  width: 100%;
}

.rotation_slider,
.scale_slider {
  display: none;
}

.video {
  width: 25%;
  height: 25%;
  position: absolute;
  top: 0;
  left: 0;
}
